node_modules/
.env
.env.backup
.env.production
vendor/
bootstrap/cache/packages.php
bootstrap/cache/services.php
*.key
.phpunit.result.cache
npm-debug.log
yarn-error.log
.fleet/
.idea/
.vscode/
.nuxt/
.output/
.nitro/
dist/
docker-compose.override.yml
